* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 0px
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.home-section,
.about-section,
.portfolio-section,
.travels-section,
.contact-section {
    padding: 60px 20px;
    max-width: 1100px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
    color: #333;
    margin-bottom: 20px;
}

p,
ul {
    margin-bottom: 20px;
    color: #555;
}

ul {
    list-style: disc inside;
}



.travel {
    margin-bottom: 40px;
}

.photos {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.photos img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#myBtn {
    /* Hidden by default */
    display: none;
    /* Fixed/sticky position */
    position: fixed;
    /* Place the button at the bottom of the page */
    bottom: 20px;
    /* Place the button 30px from the right */
    right: 30px;
    /* Make sure it does not overlap */
    z-index: 99;
    /* Remove borders */
    border: none;
    /* Remove outline */
    outline: none;
    /* Set a background color */
    background-color: #333;
    /* Text color */
    color: white;
    /* Add a mouse pointer on hover */
    cursor: pointer;
    /* Some padding */
    padding: 15px;
    /* Rounded corners */
    border-radius: 10px;
    /* Increase font size */
    font-size: 18px;
}

#myBtn:hover {
    /* Add a dark-grey background on hover */
    background-color: #575757;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
